@import "src/styles/mixins";
@import "src/styles/common";
@import "src/styles/variables";

.header-layout{
  @include flexSpaceBetween;
}

.header {
  background-color: #221f1f;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  &__logo{
    text-decoration: none;
    color: #FFFFFF;
    padding: 1em;
  }

  &__logo-text{
    text-transform: uppercase;
    font-size: 24px;
  }
}

.header-actions {
  @include flexSpaceBetween;

  &__item{
    list-style-type: none;
  }

  &__button {
    @include resetButtonStyles;
    width: 40px;
    height: 40px;
  }

}