a{
  text-decoration: none;
}

*{
   font-family: Roboto, sans-serif;
}

body{
  position: relative;
}

.wrapper{
  padding-left: 25px;
  padding-right: 25px;
}

.section-title{
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-text-color;
}



