.page-header{
 padding-top: 60px;
  padding-bottom: 19px;
  &__image{
    max-width: 100%;

    img{
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.page-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 37px;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }

  &__container{
    position: relative;
    z-index: 2;
  }


  &__list {
    position: relative;
    float: right;
    clear: both;
    right: -200%;
    width: 182px;
    background-color: #F5F5F5;
    transition: all .5s ease;
    z-index: 2;
  }

  &__list.active{
    display: block;
    float: right;
    clear: both;
    right: 0;
    z-index: 2;
  }

  li {
    list-style-type: none;
  }

  &__link {
    display: block;
    padding: 4px 0 4px 12px;
    font-size: 11px;
    line-height: $nav-text-line-height;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }

  &__link--active {
    color: #57A4A4;
  }

  &__link:hover{
    background-color: #E5E5E5;
  }
}

.nav-burger {
  display: block;
  position: relative;
  float: right;
  clear: both;
  width: 44px;
  height: 37px;
  background-color: #000000;

  &::before,
  &::after {
    content: '';
    @include burger-nav-lines;
  }

  &:before {
    content: '';
    top: 13px;
  }

  &::after {
    content: '';
    bottom: 14px;
  }

  span {
    @include burger-nav-lines;
    top: 17px;
  }

  &.active {

    &::before {
      transform: rotate(45deg);
      top: 16px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 16px;
    }

    span {
      transition: all 0.1s;
      transform: scale(0);
    }
  }
}
