@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "../../../../styles/common";

.cart {
  border-left: 1px solid #e9e9e9;

}

.cart-trade {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;

  &__sum {
    font-size: 20px;
    margin-bottom: 1em;
    color: #333333;
  }

  &__buy-btn {
    @include resetButtonStyles;
    color: #FFFFFF;
    padding: .3em .5em;
    background-color: #00a046;
  }
}

