@import "../../styles/mixins";
@import "../../styles/common";
@import "../../styles/variables";


.goods-tile {
  position: relative;
  padding: 16px;
  overflow: hidden;

  &__inner {
    min-height: 100%;
  }

  &__actions {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }

  &__favourite-btn {
    @include resetButtonStyles;
    @include flexCenter;
    width: 32px;
    height: 32px;
  }

  &__picture {
    height: clamp(170px, 190px, 210px);
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    text-align: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    display: block;
    height: 32px;
    overflow: hidden;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  &__prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price{
    font-size: 18px;
    color: #333333;
  }

  &__cart-button{
    @include resetButtonStyles;
    @include flexCenter;
    width: 32px;
    height: 32px;
  }


}
