@import "mixins";

.cross-btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
}

button{
  cursor: pointer;
}

a, .link{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
  color: rgb(255,255,255);
  padding: .7em .3em;
  margin: .3em;
}