@mixin resetButtonStyles{
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  border-radius: 7px;
  cursor: pointer;
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}