@import "mixins";

html, body{
  width: 100%;
}

.wrapper{
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.lock-screen{
  width: 100%;
  overflow: hidden;
}

.main{
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}


