@import "mixins";

.cross-btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
}

button{
  cursor: pointer;
}

a, .link{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
  color: rgb(255,255,255);
  padding: .7em .3em;
  margin: .3em;
}

.loading{
  font-size: 20px;
  margin: 20px auto;
}

.main-content{

  &__heading{
    font-size: 36px;
    color: #333333;
    margin-bottom: 2em;
    padding-bottom: .5em;
    border-bottom: 1px solid #e9e9e9;
  }
}

.alert{
  font-size: 32px;
  text-align: center;
  color: #333333;
  padding: .3em .5em;
  margin: .5em;
}

.favourite-btn {
  @include resetButtonStyles;
  @include flexCenter;
  width: 32px;
  height: 32px;
}