@media (min-width: $tablet) and (max-width:$desktop - 1){
  .wrapper{
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  .section-title{
    font-size: 16px;
    line-height: 22px;
    color: $title-text-color;
  }

}

@media (min-width: $desktop) {
  .wrapper{
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}