@media (min-width: $tablet) {
  .footer-contacts{
    text-align: center;

    &__item{
      display: inline;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      color: #B9B9B9;
    }
  }
}