@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .page-header{
    padding-top: 106px;
  }

  .nav-burger{
    display: none;
  }

  .page-nav{
    background-color: #fff;
    height: 96px;

    &__list{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: static;
      float: none;
      width: 100%;
      background-color: transparent;
      padding-top: (96px - $nav-text-line-height) / 2;
    }
  }
}


@media (min-width: $desktop) {

  .page-header{
    padding-top: 118px;
  }
  .nav-burger{
    display: none;
  }

  .page-nav{
    background-color: #fff;
    height: 96px;

    &__list{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: static;
      float: none;
      width: 100%;
      background-color: transparent;
      padding-top: (96px - $nav-text-line-height) / 2;
    }
  }
}