@import "src/view/styles/variables";
@import "src/view/styles/mixins";
@import "src/view/styles/common";

.product-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__left {

  }

  &__picture {


    img {
      max-width: 100%;
    }
  }

  &__characteristic {
    margin-top: 16px;
    font-size: 16px;
    color: #333333;

  }

  &__right {

  }

  &__colors{

  }
}

.product-colors {

  &__list {

  }

  &__item {
    color: #8b969e;

    span {
      color: #333333;
    }
  }
}

.product-trade {
  margin-top: 20px;
  padding: 20px;
  border-radius: 7px;
  border: 2px solid #99a0a7;

  &__price {
    color: #333333;
    margin-bottom: 5px;
  }

  &__actions {
    display: flex;
    margin-top: 10px;
  }

  &__btn {
    @include resetButtonStyles;
    background-color: #00a046;
    display: block;
    color: #FFFFFF;
  }



}