#container{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.game-table{
    border-collapse: collapse;
    margin: 0 auto;
}

.game-table__cell{
    border: 2px solid #0f98ac;
    width: 100px;
    height: 50px;
}

.game-table__cell.active{
    background-color: cornflowerblue;
}

.game-table__cell.clicked{
    background-color: forestgreen;
}

.game-table__cell.missed{
    background-color: red;
}

.game__button{
    display: inline-block;
    padding: 0.5em 1em;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    /*display: block;*/
    text-align: center;
    border-radius: 4px;
    border: solid 1px;
    color: #0f98ac;
    margin: 10px 10px 25px 10px;
}

.game-levels {
    text-align: center;
    margin: 20px auto 20px;
    max-width: 600px;
}

.game-levels__title{
    color: #0f98ac;
    font-size: 24px;
}

.game-levels__label{
    color: #333333;
    display: inline-block;
    padding: .5em 1em;
}

.game-levels__radio{
    position: relative;
    top: 2px;
    margin: 3px;
}

.game-scores{
    margin: 20px 0 20px 0;
}

.game-scores__title{
    color: #0f98ac;
    margin: 3px 0;
    font-size: 24px;

}

.game-scores__text{
    color: #0f98ac;
    margin: 2px 0;
}

.pop-up-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}

.pop-up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    height: 300px;
    width: 45%;
    background-color: #cccccc;
}


.pop-up__button{
    color: #333333;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    text-align: center;
    border: transparent;
}

.pop-up__text{
    color: #333333;
    font-size: 50px;
    text-align: center;
}

@media (max-width: 1028px ) {
    .pop-up{
        width: 80%;
    }

}

@media (max-width: 768px) {
    .pop-up__text{
        font-size: 42px;
    }

}