@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/common";

.nav {

  &__list{
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  &__item{

  }

  &__link{
    display: block;
    font-size: 14px;
    line-height: 31px;
    padding-left: 12px;
    box-sizing: border-box;
    color: #3e77aa;
    cursor: pointer;
    
    &:hover{
      background-color: #e9e9e9;
    }
  }
}