@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/common";

.cart-tile {
  position: relative;
  padding: 16px;

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__picture-link{
    position: relative;
    flex: 1;
    display: block;
    height: clamp(80px, 96px, 110px);
    overflow: hidden;
  }

  &__picture{
    display: block;
    min-height: 100%;


    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__details{
    display: flex;
    flex-direction: column;
  }

  &__title{
    flex: 1;
  }


  &__prices{
    @include flexColumnCenter;
    flex: 1;
    gap: .5em;
    align-items: flex-end;
  }

  &__price{
  }

  &__cross-btn{
    @include resetButtonStyles;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__buy-btn{
    @include resetButtonStyles;
    color: #FFFFFF;
    padding: .3em .5em;
    background-color: #00a046;
  }
}

.cart-counter{
  display: flex;
  justify-content: center;

  &__btn{
    @include resetButtonStyles;
    display: block;
    width: 40px;
  }

  &__quantity{
    width: 56px;
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    text-align: center;
  }
}