@import "src/view/styles/variables";
@import "src/view/styles/mixins";
@import "src/view/styles/common";

.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  &__label {
    display: block;
    text-align: start;
    margin-bottom: .3em;
    width: 100%;
    box-sizing: border-box;
  }

  &__input {
    display: block;
    width: 100%;
    padding: .3em .5em;
    margin-bottom: .7em;
    outline: none;
    border-radius: 7px;
    border: none;
    color: #99a0a7;
    box-sizing: border-box;
  }
  
  &__submit {
    @include resetButtonStyles;
    margin: 20px auto 0;
    color: #333333;
    padding: .2em .3em;
    background-color: #fff;
    width: clamp(160px, 170px, 180px);
  }

  &__error {
    color: #ff0000;
  }
}